@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1720614400160') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guifandaohanglanfanhui:before {
  content: "\e619";
}

.icon-xiaoxi:before {
  content: "\e601";
}

.icon-xiaoxi1:before {
  content: "\e61a";
}

.icon-daohang:before {
  content: "\e62b";
}

.icon-xinwen:before {
  content: "\e620";
}

.icon-naoling:before {
  content: "\e7a3";
}

.icon-laba:before {
  content: "\e6ec";
}

.icon-hudun:before {
  content: "\e8a3";
}

.icon-youxiyouxitingyouxijiyouxishoubingmianxing:before {
  content: "\e60e";
}

.icon-sousuo:before {
  content: "\e635";
}

.icon-pinglun:before {
  content: "\e658";
}

.icon-24gf-questionCircle:before {
  content: "\e983";
}

.icon-dianzan:before {
  content: "\e8c3";
}

.icon-xiajiantou:before {
  content: "\e62c";
}

.icon-queren:before {
  content: "\e633";
}

.icon-ziyuanzhongxin:before {
  content: "\e6dd";
}

.icon-shezhi:before {
  content: "\e621";
}

.icon-steam:before {
  content: "\e722";
}

.icon-shuqian:before {
  content: "\e622";
}

.icon-tianjiahaoyou:before {
  content: "\e608";
}

.icon-shequ:before {
  content: "\e603";
}

.icon-sanceng:before {
  content: "\e62a";
}

